python-dotenv
openai
gunicorn
celery
redis
pyTelegramBotAPI
SpeechRecognition
gTTS
pydub
pypdf
streamlit
beautifulsoup4==4.12.3
termcolor==2.4.0

colorlog==6.8.2
fake-useragent==1.5.1
pandas

langchain
tiktoken
langchain-pinecone
langchain_community
langchain-openai


sentence-transformers
watchdog
psutil

pinecone-client


jsonpatch==1.33
jsonpath-python==1.0.6

pikepdf
